<div class="container-md mt-5">

    <div class="row">
        <div class="col-lg-12">
            <div class="timesheet">
                <div class="row">
                    <div class="col-md-2 timecard">

                        <p class="text-center pt-2" style="color:white ;opacity: 1;"> Period Start
                            Date
                            <input type="date" class="form-control" id="datapicker" name="date" [(ngModel)]="startDate"
                                name="startDate">
                        </p>


                    </div>
                    <div class="col-md-4 timecard" style="background-color: #FF8A80;">

                        <p class="text-center pt-2" style="color:white ;opacity: 1"> Period End Date
                            <input type="date" class="form-control" id="datapicker" style="background-color: #FF8A80 ;">
                        </p>


                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-4 timecard" style="background-color:#42549E;">

                        <p class="text-center pt-2" style="color:white ;opacity: 1;"> Total Work Week
                            Hours
                        </p>

                    </div>
                    <div class="col-md-4 timecard" style="background-color: #08D3D3;">

                        <p class="text-center pt-2" style="color:white ;opacity: 1;"> Total Hours
                            Worked
                        </p>

                    </div>
                </div>

                <!-- dropdown -->
                <div class="me-5 ms-5 mt-5">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-2 nopadding me-1">
                                    <div class="dropdown rounded d-flex align-items-center">
                                        <p style="color: #7B7B7B;">Project Name
                                        </p>
                                    </div>

                                </div>
                                <div class="col-md-2 nopadding me-1">
                                    <div class="dropdown rounded d-flex align-items-center">
                                        <p style="color: #7B7B7B;">Activity</p>
                                    </div>
                                </div>
                                <div class="col-md-1 nopadding me-1">
                                    <div class="dropdown d-flex align-items-center rounded">
                                        <p style="color: #7B7B7B;">Task</p>
                                    </div>
                                </div>
                                <div class="col-md-1  nopadding me-1">
                                    <div class="days d-flex align-items-center rounded">
                                        <p style="color: #7B7B7B;">Mon</p>
                                    </div>
                                </div>
                                <div class="col-md-1  nopadding me-1">
                                    <div class="days d-flex align-items-center rounded">
                                        <p style="color: #7B7B7B;">Tue</p>
                                    </div>
                                </div>
                                <div class="col-md-1  nopadding me-1">
                                    <div class="days d-flex align-items-center rounded">
                                        <p style="color: #7B7B7B;">Wed</p>
                                    </div>
                                </div>
                                <div class="col-md-1  nopadding me-1">
                                    <div class="days d-flex align-items-center rounded">
                                        <p style="color: #7B7B7B;">Thu</p>
                                    </div>
                                </div>
                                <div class="col-md-1  nopadding me-1">
                                    <div class="days d-flex align-items-center rounded">
                                        <p style="color: #7B7B7B;">Fri</p>
                                    </div>
                                </div>
                                <div class="col-md-1 nopadding me-1">
                                    <div class="days d-flex align-items-center rounded">
                                        <p style="color: #7B7B7B;">Sat</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>


                <!-- inputfields data -->
                <form [formGroup]="taskData" (ngSubmit)="dataReceive()">
                    <div class="me-5 ms-5 mt-2" formArrayName="itemRows">

                        <div class="row mt-2" *ngFor="let data of itemRows.controls; let i=index" [formGroupName]="i">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-2 nopadding me-1">
                                        <!-- <div class=" dropdown"> -->
                                        <select class="form-select" aria-label="Default select example" name="activity"
                                            formControlName="projectName">

                                            <option value="Persona Nutrition">Persona Nutrition</option>
                                            <option value="Puritains">Puritains</option>
                                            <option value="Nestle Health Sciences">Nestle Health Sciences</option>
                                            <option value="Market Central">Market Central</option>
                                            <option value="Family Central">Family Central</option>
                                            <option value="Internal POC">Internal POC</option>
                                            <option value="External POC">External POC</option>
                                            <option value="Marketing & Sales">Marketing & Sales</option>
                                        </select>
                                        <!-- <select name="cara" id="cars" style="width: 203px;border: none;">
                                            <option value="volvo">Persona Nutrition</option>
                                            <option value="saab">Puritains</option>
                                            <option value="opel">Nestle Health Sciences</option>
                                            <option value="audi">Market Central</option>
                                            <option value="audi">Family Central</option>
                                            <option value="audi">Internal POC</option>
                                            <option value="audi">External POC</option>
                                            <option value="audi">Marketing & Sales</option>
                                        </select> -->
                                        <!-- </div> -->

                                    </div>
                                    <div class="col-md-2 nopadding me-1">
                                        <select class="form-select" aria-label="Default select example" name="activity"
                                            formControlName="activity">
                                            <option value="Unit Testing">Unit Testing</option>
                                            <option value="Acceptance Testing">Acceptance Testing</option>
                                            <option value="Warrant/MC">Warrant/MC</option>
                                            <option value="System Testing">System Testing</option>
                                            <option value="Coding\Implementation">Coding\Implementation</option>
                                            <option value="Design">Design</option>
                                            <option value="Support">Support</option>
                                            <option value="Integration Testing">Integration Testing</option>
                                            <option value="Requirements Development">Requirements Development</option>
                                            <option value="Planning">Planning</option>
                                            <option value="PTO">PTO</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 nopadding me-1">
                                        <input type="textarea" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" name="task" formControlName="task"
                                            value="{{startDate}}">
                                        <!-- <input type="text"> -->
                                        <!-- <textarea class="form-control"></textarea> -->
                                    </div>
                                    <div class="col-md-1 nopadding me-1">
                                        <input type="number" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" name="mon" formControlName="mon">
                                        <!-- <input type="text"> -->
                                    </div>
                                    <div class="col-md-1 nopadding me-1">
                                        <input type="number" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" name="tue" formControlName="tue">
                                        <!-- <input type="text"> -->
                                    </div>
                                    <div class="col-md-1 nopadding me-1">
                                        <input type="number" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" name="wed" formControlName="wed">
                                        <!-- <input type="text"> -->
                                    </div>
                                    <div class="col-md-1 nopadding me-1">
                                        <input type="number" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" name="thu" formControlName="thu">
                                        <!-- <input type="text"> -->
                                    </div>
                                    <div class="col-md-1 nopadding me-1">
                                        <input type="number" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" name="fri" formControlName="fri">
                                        <!-- <input type="text"> -->
                                    </div>
                                    <div class="col-md-1 nopadding me-1 d-flex">
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" name="sat" formControlName="sat">

                                        <!-- <input type="text"> -->

                                    </div>


                                </div>
                                <!-- <div class="col-md-1">
                                <button class="btn btn-primary d-flex pe-5" type="submit"> ADD</button>

                             
                                     <div class="col-md-1 d-flex">
                                <button class="btn btn-primary d-flex pe-5"> ADD</button>

                            </div> -->



                            </div>
                            <div class="col-md-1 d-flex">
                                <button class="btn btn-primary" (click)="addForm()" type="button">ADD</button>

                                <button class="btn btn-danger ms-2" (click)="removeForm(i)">Delete</button>

                            </div>



                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>


                    </div>
                </form>


            </div>
        </div>